<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="selectAll" resultType="com.example.demo.model.User">
        SELECT id, username, email FROM sys_user WHERE status = 1
    </select>
    <insert id="insertUser" parameterType="com.example.demo.model.User">
        INSERT INTO sys_user(username, email) VALUES(#{username}, #{email})
    </insert>
</mapper>
